
$background-color: #ECE7EE;
$text-color: black;

$primary-color: #54A5F0;
$primary-text-color: white;

$block-color: rgba(0,0,0,0.03);

$font-size: 9px;
$font-stack: 'Montserrat', sans-serif;

$block-border-style: 2px solid rgba(0,0,0,0.1);
$primary-border-style: 2px solid $primary-color;

$border-radius: 10px;

$hover-color: #DFE2EC;